<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DIYTypeless.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0445F11D2F2C8CB800B25EC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0445F12A2F2C8CB900B25EC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0445F1342F2C8CB900B25EC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
